.contener{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.boxes {
    display: flex;
    height: 45%;
    gap: 50px;

}
.box ,.box1 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex: 1;
    border-radius: 5px;
    padding: 20px 10px;
  gap: 20px;

}
input {
    height: 30px;
    border-radius: 3px;
    transition: all 0.3s linear;

}
input::placeholder{
    padding-left: 10px;

}
input:hover{
    padding-left:10px;
    transform: scale(1.02);
    transition: all 0.3s linear;
}
 button {
    width: 40%;
    height: 35px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: all 0.4s linear;

}
button:hover{
    background-color: #fff;
    border: 2px solid blue;
    color: blue;
    transition: all 0.4s linear;
}
.number{
    display: flex;
    background-color: blue;
    color: #fff;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 5px;
}
.number .num{
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 8px;
}
footer {
    background-color: #fff;
      min-height: 135px;
      border-radius: 5px;
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
}